@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;600&family=Fraunces:opsz,wght@9..144,700;9..144,800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Fraunces', serif;
}

nav .logo{
 
}
nav {
  display: flex;
 
  background-color: #3ebfff;
  padding: 25px 30px;
  justify-content: space-between;
}
input[type=checkbox]{
 display: none;
}
.hamburger{
 display: none;
 height: 2rem;
 user-select: none;
}
nav .links a {
  color: #fff;
  padding: 0 2.5rem;
}

@media screen and (max-width: 768px){
nav{

}
 nav .links a {
  display: none;
}
.hamburger{
 display:block;
 float: right;
 margin: 0 0 0 rem;
}
input[type=checkbox]:checked ~ nav .links {
 display: block;
}
}
nav .links .contact-btn {
  background-color: #fff;
  padding: 0.5rem 0.9rem;
  border-radius: 2rem;
  color: hsl(167, 40%, 24%);
}
h1 {
  font-family: 'Fraunces', serif;
  font-weight: 800;
  font-size: 40px;
}

h3 {
  color: hsl(212, 27%, 19%);
  font-size: 40px;
  font-family: 'Fraunces', serif;
  font-weight: 600;
  padding-bottom: 1rem;
}@media screen and (max-width: 768px) {
 h3{
  font-size: 34px;
 }
  h1{
   font-size: 20px;
  }
}
.learn-more1 {
  text-decoration: underline;
  text-decoration-color: hsl(51, 100%, 49%);
  text-decoration-thickness: 5px;
  text-decoration-border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  margin-top: 2rem;
}
.learn-more2 {
  text-decoration: underline;
  text-decoration-color: hsl(7, 99%, 70%);
  text-decoration-thickness: 5px;
  text-decoration-border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
  color: black;
  margin-top: 2rem;
}
.section-1-2 p {
  color: #25564b;
  font-weight: 600;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 2rem;
}

.hero-section {
  background-image: url(./images/desktop/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80vh;
  /* width: 100%; */
}
.hero-section h1 {
  text-align: center;
  padding-top: 6rem;
  color: #fff;
  font-weight: 800;
  letter-spacing: 15px;
}

.hero-heading {
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
}
.arrow {
  position: absolute;
  top: 12.7rem;
  width: 25px;
  left: 50%;
  right: 50%;
}
a {
  text-decoration: none;
}
.logo {
  display: inline;
}
.section-1-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
  margin-inline: auto;
  width: min(100%, 100%);
}

.egg {
  background-image: url(./images/desktop/image-transform.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;

  padding: 15rem 0;
}

.cup {
  background-image: url(./images/desktop/image-stand-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 15rem 0;
}
@media screen and (max-width: 600px) {
  .section-1-2 {
    grid-template-columns: 1fr;
  }
  .egg-grid:last-child {
    grid-row: 1;
  }
  .cup-grid:last-child {
  }
}

.cherry {
  background-image: url(./images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 0;
  width: 100%;
}
.peach {
  background-image: url(./images/desktop/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center center;
  padding: 0;
   width: 100%;
}
.pad {
  padding: 10% 15%;
  margin: auto;
}
.pad2 {
  padding: 10% 8% 9% 8%;
  text-align: center;
  max-width: 100%;
}
@media screen and (max-width: 600px) {
 .pad {
  padding: 20% 11%;
  margin: auto;
}
}
.pad2 h3{
 color: hsl(167, 40%, 24%);
}
.cherry,
.peach {
  padding-top: 13rem;
}
.testimonial-section {
  padding: 8rem 2rem;
}
.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial-section h3 {
  color: hsl(210, 4%, 67%);
  word-spacing: 15px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 3rem;
}
.testimonial-boxes {
  text-align: center;
  padding: 5% 4rem;
}@media screen and (max-width: 600px) {
  .testimonial {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
 
  .testimonial-boxes {
  padding: 5% 4%;}
  .testimonial-section {
  padding: 8rem 2rem;
}
}
.profile-img img {
  border-radius: 100%;
  height: 2.5rem;
}
.testimonial-text{
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  padding-top: 1.2rem;
  color:   hsl(167, 40%, 24%);
}

.names {
  margin-top: 2rem;
}
.names h4{
color: hsl(212, 27%, 19%);
font-weight: 800;
font-size: 2rem;
}
.names p{
 font-family: 'Barlow', sans-serif;
 font-weight: 300;
}
.gallery-pics {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}
.gallery-section .gallery1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery-pics img {
  max-width: 100%;
  height: auto;
  margin: 0;
  display: block;
}
.gallery-section .gallery2 {
  display: none;
}

@media screen and (max-width: 600px) {
  .gallery-section .gallery1 {
    display: none;
  }
  .gallery-section .gallery2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    bottom: 1rem;
  }

  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

footer {
  background-color: hsl(168, 34%, 41%);
}
footer img {
  display: block;
  margin: 0 auto;
}
.bottom-links {
  display: inline-flexbox;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.bottom-links a {
  color: #25564b;
  padding: 0 1rem;
  font-family: 'Barlow', sans-serif;
}
footer img {
  padding: 2rem 1rem;
}
.socials{
 display: flex;
 margin: 0 auto;
 justify-content: center;
}
.attribution {
  background-color: hsl(168, 34%, 41%);
  padding-top: 3rem;
}
